In [1]:
import pandas as pd
import os

# Directory where GTFS txt files are extracted
gtfs_dir = './data/gtfs'

# Read GTFS files into individual DataFrames
if os.path.exists(os.path.join(gtfs_dir, 'agency.txt')):
    agency_df = pd.read_csv(os.path.join(gtfs_dir, 'agency.txt'))
    print("Loaded agency.txt")
    display(agency_df.head())

if os.path.exists(os.path.join(gtfs_dir, 'stops.txt')):
    stops_df = pd.read_csv(os.path.join(gtfs_dir, 'stops.txt'))
    print("Loaded stops.txt")
    display(stops_df.head())

if os.path.exists(os.path.join(gtfs_dir, 'routes.txt')):
    routes_df = pd.read_csv(os.path.join(gtfs_dir, 'routes.txt'))
    print("Loaded routes.txt")
    display(routes_df.head())

if os.path.exists(os.path.join(gtfs_dir, 'trips.txt')):
    trips_df = pd.read_csv(os.path.join(gtfs_dir, 'trips.txt'))
    print("Loaded trips.txt")
    display(trips_df.head())

if os.path.exists(os.path.join(gtfs_dir, 'stop_times.txt')):
    stop_times_df = pd.read_csv(os.path.join(gtfs_dir, 'stop_times.txt'))
    print("Loaded stop_times.txt")
    display(stop_times_df.head())

if os.path.exists(os.path.join(gtfs_dir, 'calendar.txt')):
    calendar_df = pd.read_csv(os.path.join(gtfs_dir, 'calendar.txt'))
    print("Loaded calendar.txt")
    display(calendar_df.head())

if os.path.exists(os.path.join(gtfs_dir, 'shapes.txt')):
    shapes_df = pd.read_csv(os.path.join(gtfs_dir, 'shapes.txt'))
    print("Loaded shapes.txt")
    display(shapes_df.head())

Loaded agency.txt

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone,agency_fare_url,agency_email
0,EMTPM01,EMTPM,http://www.emtpm.co.mz/index.php/horario-das-c...,Africa/Maputo,pt,258823104635,http://www.emtpm.co.mz/index.php/horario-das-c...,emtpm@emtpm.co.mz

Loaded stops.txt

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,platform_code
0,P0001601_T,NaN,Anjo Voador (601),NaN,-25.975539,32.570933,P0001601_T,NaN,0,NaN
1,P0002PEP_A,NaN,Laurentina (Av. Guerra Popular),NaN,-25.969672,32.566433,P0002PEP_A,NaN,0,NaN
2,P0002PEP_B,NaN,Laurentina (Av. Guerra Popular),NaN,-25.969516,32.566915,P0002PEP_B,NaN,0,NaN
3,P0003PEP_A,NaN,Mercado Mandela (Av. Guerra Popular),NaN,-25.965025,32.569769,P0003PEP_A,NaN,0,NaN
4,P0003PEP_B,NaN,Mercado Mandela (Av. Guerra Popular),NaN,-25.965157,32.569997,P0003PEP_B,NaN,0,NaN

Loaded routes.txt

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color,route_text_color
0,1,EMTPM01,10,1 [1-0] Anjo Voador - Chamissava,NaN,3,NaN,NaN
1,11,EMTPM01,110,11 [11-0] Albert Lithule - Michafutene,NaN,3,NaN,NaN
2,11B,EMTPM01,110,11 [11-0] Michafutene - Albert Lithule,NaN,3,NaN,NaN
3,11C,EMTPM01,111,11 [11-1] Albert Lithule - Michafutene,NaN,3,NaN,NaN
4,11D,EMTPM01,111,11 [11-1] Michafutene - Albert Lithule,NaN,3,NaN,NaN

Loaded trips.txt

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,trip_short_name,shape_id
0,1,Weekday/Weekend,3 Weekday/Weekend_0520_trip10001001,Terminal de Chamissava,0,NaN,NaN,10001
1,1,Weekday/Weekend,3 Weekday/Weekend_0840_trip10001001,Terminal de Chamissava,0,NaN,NaN,10001
2,1,Weekday/Weekend,3 Weekday/Weekend_1200_trip10001001,Terminal de Chamissava,0,NaN,NaN,10001
3,1,Weekday/Weekend,3 Weekday/Weekend_1520_trip10001001,Terminal de Chamissava,0,NaN,NaN,10001
4,1,Weekday/Weekend,3 Weekday/Weekend_1840_trip10001001,Terminal de Chamissava,0,NaN,NaN,10001

Loaded stop_times.txt

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type
0,3 Weekday/Weekend_0400_trip10502001,04:00:00,04:00:00,P4035607_T,1,Anjo Voador (601),0,1
1,3 Weekday/Weekend_0400_trip10502001,04:00:00,04:00:00,P0658PEP_B,2,Anjo Voador (601),0,0
2,3 Weekday/Weekend_0400_trip10502001,04:01:00,04:01:00,P0657PEP_B,3,Anjo Voador (601),0,0
3,3 Weekday/Weekend_0400_trip10502001,04:01:00,04:01:00,P0426PEP_B,4,Anjo Voador (601),0,0
4,3 Weekday/Weekend_0400_trip10502001,04:02:00,04:02:00,P0656PEP_B,5,Anjo Voador (601),0,0

Loaded calendar.txt

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,Weekday,1,1,1,1,1,0,0,20250710,20260709
1,Weekend,0,0,0,0,0,1,1,20250710,20260709
2,Weekday/Weekend,1,1,1,1,1,1,1,20250710,20260709

Loaded shapes.txt

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,10001,-25.9755,32.5710,1,0.0000
1,10001,-25.9754,32.5706,2,0.0429
2,10001,-25.9753,32.5705,3,0.0502
3,10001,-25.9753,32.5704,4,0.0589
4,10001,-25.9752,32.5701,5,0.0995